<%= render_content_page(@page, {
      :hide_sections => local_assigns[:hide_sections],
      :can_use_fallback => !local_assigns[:show_empty_sections] && !local_assigns[:remove_automatic_sections]
    }) %>
<%= render '/refinery/draft_page_message' if @page && @page.draft? -%>
<%= render '/refinery/skip_to_first_child_page_message' if @page && @page.skip_to_first_child? -%>
 
 <nav class="nav fixed-top bg-white">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="index.html" class="logo">
                        <img src="img/black-logo-symbol.png" alt="" class="logo-img" style="width:2.4rem; height:2rem;">
                        <img src="img/black-logo-word.png" alt="" class="logo-img" style="width:14rem; height:2rem;">
                    </a>
                    <ul class="nav-list">
                        <li class="nav-list-item">
                            <a href="for_organizations.html" class="nav-list-link">For Organizations</a>
                        </li>
                        <li class="nav-list-item">
                            <a href="for_individuals.html" class="nav-list-link">For Indviduals</a>
                        </li>
                        <li class="nav-list-item">
                            <a href="why.html" class="nav-list-link">Why Got Anyalo?</a>
                        </li>
                        <!--
                        <li class="nav-list-item">
                            <a href="plans.html" class="nav-list-link">Plans & Pricing</a>
                        </li>
                        -->
                        <li class="nav-list-item">
                            <din class="line"></din>
                        </li>

                        <li class="nav-list-item">
                            <a href="https://app.gotanyalo.com" class="nav-list-btn btn">Get Started</a>
                        </li>
                    </ul>
                    <div class="nav__toggler">
                        <span class="nav__icone"></span>
                        <span class="nav__icone"></span>
                        <span class="nav__icone"></span>
                        <span class="nav__icone nav__icone--small"></span>
                    </div>
                </div>
            </div>
        </nav>